<div class="symbol-item d-flex w-100">
  <div>
    <selectable-checkbox [item]="symbol" [selectable]="store.symbolsSelectable"></selectable-checkbox>
  </div>
  <div class="w-100 pl-3">
      <a [routerLink]="[symbol.id]">
        <strong>{{symbol.name}}</strong>
      </a>
      <i *ngIf="symbol.containsSymbolSteps()" class="text-muted fa fa-cubes fa-fw ml-2"></i>
  </div>
  <div *ngIf="symbol.steps.length === 0" class="pl-3">
    <span class="badge badge-info">Not implemented</span>
  </div>
  <div>
    <div class="btn-group btn-group-sm pl-3" ngbDropdown>
      <button class="btn btn-icon dropdown-toggle no-caret" ngbDropdownToggle type="button">
        <i class="fas fa-fw fa-bars"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu role="menu">
        <button (click)="store.updateSymbol(symbol)" ngbDropdownItem>
          <i class="fas fa-edit fa-fw"></i> Edit
        </button>
        <button (click)="store.copySymbol(symbol)" ngbDropdownItem>
          <i class="fas fa-copy fa-fw"></i> Copy
        </button>
        <button (click)="store.moveSymbol(symbol)" ngbDropdownItem>
          <i class="fas fa-exchange-alt fa-fw"></i> Move
        </button>
        <button (click)="showSymbolUsages()" ngbDropdownItem>
          <i class="fas fa-search fa-fw"></i> Usages
        </button>
        <button (click)="store.deleteSymbol(symbol)" ngbDropdownItem>
          <i class="fas fa-trash fa-fw"></i> Delete
        </button>
      </div>
    </div>
  </div>
</div>
