<div class="form-group">
  <label>Select a test suite:&nbsp;</label>
  <em>{{selectedTestSuite?.name}}</em>

  <div class="card">
    <div class="card-body px-3 py-3" style="overflow: auto; max-height: 320px">
      <test-suite-tree
        (selected)="onSelected($event)"
        *ngIf="root != null"
        [selectedTestSuite]="selectedTestSuite"
        [testSuite]="root"
      >
      </test-suite-tree>
    </div>
  </div>
</div>

<div class="form-group form-check">
  <label class="form-check-label">
    <input [(ngModel)]="eqOracle.includeChildTestSuites" class="form-check-input" type="checkbox">
    Include test cases from child test suites
  </label>
</div>
