<div class="card learner-resume-settings-widget">
  <div class="card-header">
    <strong class="text-muted">Resume configuration</strong>
  </div>
  <div class="card-body p-0">

    <form name="form">

      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="General configuration">
          <ng-template ngbPanelContent>

            <div class="form-group">
              <label class="control-label">Step from where to continue</label><br>
              <input
                [(ngModel)]="configuration.stepNo"
                [max]="result.steps.length"
                class="form-control"
                min="1"
                name="step_no"
                required
                type="number"
              >
            </div>

          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2" title="Equivalence oracle">
          <ng-template ngbPanelContent>

            <eq-oracle-form
              (selected)="setEqOracle($event)"
              [form]="form"
              [oracle]="configuration.eqOracle"
            >
            </eq-oracle-form>

            <div *ngIf="configuration.eqOracle.type === eqOracleTypes.SAMPLE"
                 class="form-horizontal form-condensed">
              <counterexamples-widget
                (counterexamples)="configuration.eqOracle.counterExamples = $event"
                [result]="result"
              >
              </counterexamples-widget>
            </div>

          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="Symbols">
          <ng-template ngbPanelContent>

            <div class="form-group">
              <label class="control-label">Symbols to add</label><br>

              <select
                (change)="addSelectedSymbol()"
                [(ngModel)]="selectedSymbol"
                class="form-control"
                name="symbolToAdd"
              >
                <option [value]="null" disabled>Select a symbol to add</option>
                <option *ngFor="let symbol of symbols" [value]="symbol.id">{{symbol.name}}</option>
              </select>
            </div>

            <div *ngIf="configuration.symbolsToAdd.length > 0" class="list-group mb-0">
              <div *ngFor="let pSymbol of configuration.symbolsToAdd; let i = index" class="list-group-item d-flex">
                <div class="w-100">
                  <strong>{{pSymbol.symbol.name}}</strong><br>
                  <symbol-input-values [parameterizedSymbol]="pSymbol"></symbol-input-values>
                </div>
                <div class="text-muted">
                  <i (click)="configuration.symbolsToAdd.splice(i, 1)"
                     class="fas fa-fw fa-times cursor-pointer"></i>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </form>

  </div>
</div>
