<div class="form-group">
  <label>Min length</label>
  <input
    [(ngModel)]="eqOracle.minLength"
    class="form-control"
    min="1"
    name="eq_oracle_random_min_length"
    placeholder="1"
    required
    type="number"
  >
</div>

<div class="form-group">
  <label>Max length</label>
  <input
    [(ngModel)]="eqOracle.maxLength"
    class="form-control"
    min="1"
    name="eq_oracle_random_max_length"
    placeholder="1"
    required
    type="number"
  >
</div>

<div class="form-group">
  <label>Random words</label>
  <input
    [(ngModel)]="eqOracle.maxNoOfTests"
    class="form-control"
    min="1"
    name="eq_oracle_random_no_words"
    placeholder="1"
    required
    type="number"
  >
</div>

<div class="form-group">
  <label>Seed</label>
  <input
    [(ngModel)]="eqOracle.seed"
    class="form-control"
    name="eq_oracle_random_seed"
    required
    type="number"
  >
</div>
