<div class="view view-test-reports">

  <action-bar>

    <div class="btn-group btn-group-sm mr-2">
      <button (click)="deleteReport()" class="btn btn-default" [disabled]="!showReport">Delete</button>
    </div>

    <div class="btn-group btn-group-sm">
      <button (click)="downloadReport()" class="btn btn-default" [disabled]="!showReport">Download</button>
    </div>

  </action-bar>

  <div class="view-body">
    <div class="container-fluid">

      <div class="alert alert-info d-flex flex-row" *ngIf="!showReport">
        <span class="w-100">
          The report for the test run is not yet available.
        </span>
        <button class="btn btn-sm btn-info flex-shrink-0" (click)="refresh()" [disabled]="loading">
          <i class="fas fa-fw fa-sync-alt mr-1" [class.fa-spin]="loading"></i> Check again
        </button>
      </div>

      <ng-container *ngIf="showReport">
        <h4 class="d-flex">
          <strong>{{report.startDate | date : 'EEE, dd.MM.yyyy, HH:mm'}}, by: {{report.executedBy ? report.executedBy.username : "deleted/unknown user"}}</strong>

          <span class="badge badge-secondary ml-auto">
          {{report.environment.name}}
        </span>
        </h4>

        <hr>

        <div class="d-flex justify-content-center">
          <report-charts *ngIf="report != null" [report]="report"></report-charts>
        </div>

        <hr>

        <div *ngIf="report.description != null && report.description.trim() !== ''">
          <strong>Description</strong>
          <p>
            {{report.description}}
          </p>
        </div>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Output</th>
            <th>Message</th>
            <th>Time</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let result of report.testResults">
            <ng-container *ngIf="result.test.type === 'case'">
              <td width="1%">
                <span *ngIf="result.passed" class="badge badge-success">Passed</span>
                <span *ngIf="!result.passed" class="badge badge-danger">Failed</span>
              </td>
              <td>
                <a [title]="['/app', 'projects', result.project, 'tests', result.test.id]">{{result.test.name}}</a>
              </td>
              <td>
                <report-outputs-column [outputs]="result.outputs" [project]="project"></report-outputs-column>
              </td>
              <td>
                <em *ngIf="result.failureMessage">{{result.failureMessage}}</em>
              </td>
              <td style="min-width: 68px">
                {{result.time | formatMilliseconds}}
              </td>
            </ng-container>
          </tr>
          </tbody>
        </table>

      </ng-container>
    </div>
  </div>

</div>
