<div *ngIf="root != null" class="test-tree">
  <test-suite-node
    *ngIf="root.type === 'suite'"
    [results]="results"
    [suite]="root"
  ></test-suite-node>
  <test-case-node
    *ngIf="root.type === 'case'"
    [case]="root"
    [results]="results"
  ></test-case-node>
</div>
