<div id="alex" class="d-flex flex-column">
  <nav class="navbar navbar-expand-lg navbar-dark flex-shrink-0">
    <a class="navbar-brand d-flex flex-row align-items-center" [routerLink]="['.']">
      <img height="18" src="/assets/images/favicon.png" width="18"> <strong class="ml-1">LEX</strong>
    </a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle cursor-pointer" ngbDropdownToggle>
          {{username}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
          <a ngbDropdownItem [routerLink]="['profile']">
            <i class="fas fa-fw fa-user"></i> Profile
          </a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem [routerLink]="['..', 'logout']">
            <i class="fas fa-fw fa-sign-out-alt"></i> Logout
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="h-100 d-flex flex-row" style="overflow: auto">
    <sidebar></sidebar>
    <div class="w-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
