<div class="view">

  <action-bar>
    <div class="d-flex flex-row align-items-center">
      <selectable-checkbox-multiple [selectable]="selectedResults"></selectable-checkbox-multiple>

      <div class="ml-3">
        <button
          (click)="openSelectedResults()"
          [disabled]="!selectedResults.isAnySelected()"
          class="btn btn-sm btn-primary mr-2"
        >
          Compare
        </button>
        <button
          (click)="deleteResults()"
          [disabled]="!selectedResults.isAnySelected()"
          class="btn btn-sm btn-default mr-2"
        >
          Delete
        </button>

        <div class="btn-group btn-group-sm" ngbDropdown>
          <button
            [disabled]="!selectedResults.isAnySelected()"
            class="btn btn-default"
            ngbDropdownToggle
          >
            Statistics
          </button>
          <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu role="menu">
            <button (click)="showSelectedStatistics()" ngbDropdownItem>
              <i class="fas fa-fw fa-chart-bar"></i> Show statistics
            </button>
            <button (click)="exportSelectedAsCSV()" ngbDropdownItem>
              <i class="fas fa-fw fa-download"></i> Export statistics
            </button>
          </div>
        </div>
      </div>
    </div>
  </action-bar>

  <div class="view-body">
    <div class="container-fluid">

      <div *ngIf="results.length > 0">
        <div class="list-group">
          <div *ngFor="let result of orderedResults" class="list-group-item">
            <learner-result-list-item [result]="result" [selectable]="selectedResults">
              <div class="btn-group btn-group-sm" ngbDropdown>
                <button class="btn btn-icon dropdown-toggle no-caret" ngbDropdownToggle type="button">
                  <i class="fas fa-bars"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu role="menu">
                  <a [routerLink]="['/app', 'projects', project.id, 'learner']" [queryParams]="{testNo: result.testNo}" ngbDropdownItem>
                    <i class="fas fa-play fa-fw"></i> Continue learning
                  </a>
                  <div class="dropdown-divider"></div>
                  <button (click)="openResultDetailsModal(result)" ngbDropdownItem>
                    <i class="fas fa-info fa-fw"></i> Details
                  </button>
                  <a [routerLink]="[result.id]" ngbDropdownItem>
                    <i class="fas fa-code-branch fa-fw"></i> Hypotheses
                  </a>
                  <button (click)="cloneResult(result)" ngbDropdownItem>
                    <i class="fas fa-clone fa-fw"></i> Clone
                  </button>
                  <button (click)="deleteResult(result)" ngbDropdownItem>
                    <i class="fas fa-trash fa-fw"></i> Delete
                  </button>
                  <div class="dropdown-divider"></div>
                  <button (click)="showStatistics(result)" ngbDropdownItem>
                    <i class="fas fa-fw fa-chart-bar"></i> Show statistics
                  </button>
                  <button (click)="exportAsCSV(result)" ngbDropdownItem>
                    <i class="fas fa-fw fa-download"></i> Export statistics
                  </button>
                </div>
              </div>
            </learner-result-list-item>
          </div>
        </div>

        <hr>
        <button class="btn btn-default btn-sm" (click)="loadMoreLearnerResults()" [disabled]="page.last === true">
          Load more
        </button>
      </div>

      <div *ngIf="results.length === 0" class="alert alert-info">
        You have not run any tests yet or the active one is not finished.
      </div>

    </div>
  </div>
</div>
