<div class="form-group">
  <label>Min length</label>
  <input
    [(ngModel)]="eqOracle.minDepth"
    class="form-control"
    min="1"
    name="eq_oracle_complete_min_depth"
    placeholder="1"
    required
    type="number"
  >
</div>

<div class="form-group">
  <label>Max length</label>
  <input
    [(ngModel)]="eqOracle.maxDepth"
    class="form-control"
    min="1"
    name="eq_oracle_complete_max_depth"
    placeholder="1"
    required
    type="number"
  >
</div>
