<div class="view">

  <action-bar>
    <div class="d-flex">
      <button
        class="btn btn-sm btn-primary"
        (click)="startLearning()"
        [disabled]="!canStartOrSaveLearningSetup"
      >
        <i class="fas fa-fw fa-play"></i> Run
      </button>
      <div class="ml-auto">
        <a
          class="btn btn-sm btn-default ml-2"
          [routerLink]="['..']"
        >
          <i class="fas fa-fw fa-times"></i> Cancel
        </a>
        <button
          class="btn btn-sm btn-success ml-2"
          (click)="saveLearnerSetup()"
          [disabled]="!canStartOrSaveLearningSetup"
        >
          <i class="fas fa-fw fa-save"></i> Save
        </button>
      </div>
    </div>
  </action-bar>

  <div class="view-body">
    <div class="container-fluid">

      <learner-setup-form [setup]="setup" *ngIf="setup != null"></learner-setup-form>

    </div>
  </div>
</div>
