<div class="form-group ">
  <label>Max depth</label>
  <input
    [(ngModel)]="eqOracle.maxDepth"
    class="form-control"
    min="0"
    name="eq_oracle_wmethod_max_depth"
    placeholder="0"
    required
    type="number"
  >
</div>
