<div class="test-case-node">
  <div class="header d-flex flex-row">
    <div class="test-icon">
      <i class="fas fa-fw fa-file"></i>
    </div>
    <a [routerLink]="['/app', 'projects', case.project, 'tests', case.id]" class="test-name w-100 d-flex flex-row align-items-center">
      <div class="w-100">
        <div>
          <strong>{{case.name}}</strong> <span *ngIf="case.generated" class="badge badge-secondary ml-2">Gen.</span>
        </div>
        <span *ngIf="case.status === 'EMPTY'" class="badge badge-warning">Empty</span>
        <span *ngIf="case.status === 'WORK_IN_PROGRESS'" class="badge badge-info">Work in progress</span>
      </div>
      <div>
        <span *ngIf="result">
          <span *ngIf="result.passed" class="badge badge-success">Passed</span>
          <span *ngIf="!result.passed" class="badge badge-danger">Failed</span>
        </span>
      </div>
    </a>
  </div>
</div>
