<div class="view">
  <action-bar>
    <div class="d-flex flex-row align-items-center">
      <selectable-checkbox-multiple [selectable]="store.symbolsSelectable"></selectable-checkbox-multiple>

      <div class="w-100 ml-3">
        <div class="btn-group btn-group-sm" ngbDropdown>
          <button class="btn btn-primary" ngbDropdownToggle>
            Create
          </button>
          <div class="dropdown-menu" ngbDropdownMenu role="menu">
            <button (click)="store.createSymbol()" ngbDropdownItem>Symbol</button>
            <button (click)="store.createGroup()" ngbDropdownItem>Group</button>
          </div>
        </div>

        <div class="btn-group btn-group-sm ml-2">
          <button
            class="btn btn-default"
            (click)="store.updateSymbol(store.symbolsSelectable.getSelected()[0])"
            [disabled]="store.symbolsSelectable.getSelected().length !== 1"
          >
            Edit
          </button>
          <button
            class="btn btn-default"
            (click)="store.moveSelectedSymbols()"
            [disabled]="store.symbolsSelectable.getSelected().length === 0"
          >
            Move
          </button>
          <button
            class="btn btn-default"
            (click)="store.deleteSelectedSymbols()"
            [disabled]="store.symbolsSelectable.getSelected().length === 0"
          >
            Delete
          </button>
        </div>

        <div class="btn-group btn-group-sm ml-2">
          <button
            (click)="store.importSymbols()"
            class="btn btn-default"
            ngbTooltip="Import"
            placement="bottom"
          >
            <i class="fas fa-fw fa-upload"></i>
          </button>
          <button
            (click)="store.exportSelectedSymbols()"
            [disabled]="store.symbolsSelectable.getSelected().length === 0"
            class="btn btn-default"
            ngbTooltip="Export"
            placement="bottom"
          >
            <i class="fas fa-fw fa-download"></i>
          </button>
        </div>

        <div class="btn-group btn-group-sm ml-2">
          <button
            (click)="store.collapseAll(true)"
            class="btn btn-default"
            ngbTooltip="Collapse all"
            placement="bottom"
          >
            <i class="far fa-fw fa-minus-square"></i>
          </button>
          <button
            (click)="store.collapseAll(false)"
            class="btn btn-default"
            ngbTooltip="Expand all"
            placement="bottom"
          >
            <i class="far fa-fw fa-plus-square"></i>
          </button>
        </div>
      </div>
    </div>
  </action-bar>

  <div class="view-body">
    <div class="container-fluid">

      <div class="mb-3">
        <symbol-search-form
          (selected)="selectSymbol($event)"
          [groups]="store.groups$ | async"
        >
        </symbol-search-form>
      </div>

      <div *ngFor="let group of store.orderedGroups$ | async" class="mb-4">
        <symbols-symbol-group-tree [group]="group"></symbols-symbol-group-tree>
      </div>

    </div>
  </div>
</div>
