<div class="view view-test-case">
  <action-bar>
    <div class="d-flex flex-row align-items-center">
      <div class="btn-group btn-group-sm ml-auto">
        <button (click)="execute()" class="btn btn-primary">
          Execute
        </button>
        <button (click)="openTestConfigModal()" class="btn btn-primary">
          <i class="fas fa-fm fa-cog"></i>
        </button>
      </div>
      <button (click)="save()" class="btn btn-sm btn-success ml-2">
        <i class="fas fa-fw fa-save"></i> Save
      </button>
    </div>
  </action-bar>
  <div class="view-body">
    <div class="container-fluid">

      <div *ngIf="report != null">
        <test-report-progress [report]="report"></test-report-progress>
        <hr>
      </div>

      <div class="d-flex align-items-center">
        <div class="mr-1">
          <a
            class="btn btn-sm btn-default mr-1"
            [routerLink]="['/app', 'projects', testCase.project, 'tests', testCase.parent]"
          >
            <i class="fas fa-fw fa-level-up-alt"></i>
          </a>
        </div>
        <div class="w-100 ml-2">
          <h4 class="m-0">
            <strong>
              {{testCase.name}}
            </strong>
          </h4>
          <small class="text-muted">Updated: {{testCase.updatedOn | date : 'EEE, dd.MM.yyyy, HH:mm'}}</small>
          <small *ngIf="testCase.lastUpdatedBy != null" class="text-muted">&nbsp;by: {{testCase.lastUpdatedBy.username}}</small>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-3 col-sm-5">

          <div class="card mb-4">
            <div class="card-header">
              <strong>Symbols</strong>
            </div>
            <div class="card-body">
              <div class="mb-2" style="height: 31px; position: relative; z-index: 10">
                <symbol-search-form (selected)="addSymbolStep($event)" [groups]="groups"></symbol-search-form>
              </div>

              <simple-symbol-group-tree
                (symbolSelected)="addSymbolStep($event)"
                [groups]="groups"
              >
              </simple-symbol-group-tree>
            </div>
          </div>

          <symbols-data-context
            [parametrizedSymbols]="allParametrizedSymbols"
            class="d-block mb-4"
          >
          </symbols-data-context>

        </div>
        <div class="col-md-9 col-sm-7">

          <test-case-table
            *ngIf="testCase != null"
            [result]="result"
            [symbolMap]="symbolMap"
            [testCase]="testCase"
          >
          </test-case-table>

        </div>
      </div>
    </div>
  </div>
</div>
