<div class="container" id="view-home">
  <div class="mx-auto" style="max-width: 320px">
    <img id="logo" src="/assets/images/logo.png">
    <div class="card">
      <div class="card-body">
        <ngb-tabset #userLoginTabset class="nav-fill">
          <ngb-tab id="login" title="Login">
            <ng-template ngbTabContent>
              <br>
              <user-login-form
                (loggedIn)="handleLoggedIn()"
                [credentials]="credentials"
              >
              </user-login-form>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="registration" title="Sign Up" *ngIf="settings != null && settings.allowUserRegistration">
            <ng-template ngbTabContent>
              <br>
              <user-registration-form
                (signedUp)="handleSignedUp($event)"
              >
              </user-registration-form>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
    <hr>
    <div class="text-center links">
      <a (click)="showAboutModal(); $event.preventDefault()" href="#" class="mx-2 cursor-pointer">About</a>
      <a href="https://learnlib.github.io/alex/book/1.8.0/" class="mx-2" target="_blank">Docs</a>
      <a href="https://github.com/LearnLib/alex" class="mx-2" target="_blank">GitHub</a>
    </div>
  </div>
</div>
