<div class="view">
  <action-bar>
    <div class="d-flex flex-row align-items-center">
      <div class="w-100">

        <div class="d-inline-block" ngbDropdown placement="bottom-left">
          <button class="btn btn-sm btn-primary" ngbDropdownToggle>
            Create
          </button>
          <div ngbDropdownMenu>
            <button (click)="store.createEnvironment()" ngbDropdownItem>
              Environment
            </button>
            <button (click)="store.createUrl()" ngbDropdownItem>
              URL
            </button>
            <button (click)="store.createVariable()" ngbDropdownItem>
              Variable
            </button>
          </div>
        </div>

      </div>
    </div>
  </action-bar>

  <div class="view-body">
    <div class="container-fluid">

      <div
        class="card card-environment mb-4"
        [class.default]="env.default"
        *ngFor="let env of store.environments$ | async; trackBy: trackByIndex"
      >
        <div class="card-header d-flex flex-row align-items-center">
          <div class="w-100 mr-3">
            <strong>{{env.name}}</strong>
          </div>
          <div class="flex-shrink-0">
            <div class="btn-group btn-group-sm actions">
              <button
                (click)="store.editEnvironment(env)"
                class="btn btn-outline-secondary"
                ngbTooltip="Edit"
                placement="top"
              >
                <i class="fas fa-fw fa-edit"></i>
              </button>
              <button
                (click)="store.deleteEnvironment(env)"
                class="btn btn-outline-secondary"
                ngbTooltip="Delete"
                placement="top"
              >
                <i class="fas fa-fw fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="ml-3">
            <span
              (click)="store.makeEnvironmentDefault(env)"
              [ngClass]="{'badge-secondary': !env.default, 'badge-primary': env.default}"
              class="badge default-badge cursor-pointer"
            >
              Default
            </span>
          </div>
        </div>
        <div class="card-body">

          <ngb-tabset>
            <ngb-tab title="URLs">
              <ng-template ngbTabContent>
                <p></p>

                <table class="table mb-0">
                  <thead class="bg-light">
                  <tr>
                    <th width="1">Name</th>
                    <th>URL</th>
                    <th width="1">&nbsp;</th>
                    <th width="1">&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let url of env.urls">
                    <td>
                      <span class="badge badge-secondary mr-3">{{url.name}}</span>
                    </td>
                    <td class="text-break">
                      {{url.url}}
                    </td>
                    <td>
                      <div class="btn-group btn-group-sm actions">
                        <button (click)="store.editUrl(env, url)" class="btn btn-outline-secondary" ngbTooltip="Edit"
                                placement="top">
                          <i class="fas fa-fw fa-edit"></i>
                        </button>
                        <button (click)="store.deleteUrl(env, url)" class="btn btn-outline-secondary"
                                ngbTooltip="Delete" placement="top">
                          <i class="fas fa-fw fa-trash"></i>
                        </button>
                      </div>
                    </td>
                    <td>
                      <span
                        (click)="store.makeUrlDefault(env, url)"
                        [ngClass]="{'badge-secondary': !url.default, 'badge-primary': url.default}"
                        class="badge cursor-pointer"
                      >
                         Default
                      </span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Variables">
              <ng-template ngbTabContent>
                <p></p>

                <div *ngIf="env.variables.length === 0" class="alert alert-info mb-0">
                  No environment variables have been defined yet.
                </div>

                <table *ngIf="env.variables.length > 0" class="table mb-0">
                  <thead class="bg-light">
                  <tr>
                    <th width="1">Variable</th>
                    <th>Value</th>
                    <th width="1">&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let v of env.variables">
                    <td>
                      <strong style="white-space: nowrap">{{v.name}}</strong>
                    </td>
                    <td class="text-break">{{v.value}}</td>
                    <td>
                      <div class="btn-group btn-group-sm actions">
                        <button (click)="store.editVariable(env, v)" class="btn btn-outline-secondary" ngbTooltip="Edit"
                                placement="top">
                          <i class="fas fa-fw fa-edit"></i>
                        </button>
                        <button (click)="store.deleteVariable(env, v)" class="btn btn-outline-secondary"
                                ngbTooltip="Delete" placement="top">
                          <i class="fas fa-fw fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>

        </div>
      </div>

    </div>
  </div>

</div>
