<h5><strong>Make request</strong></h5>

<p class="text-muted">Make a HTTP request to a URL that is relative a base URL.</p>
<hr>

<div class="d-flex flex-row">
  <div class="form-group w-25">
    <label class="control-label">Base</label>
    <select (change)="handleBaseUrlChange()" [(ngModel)]="selectedBaseUrl" class="form-control">
      <option *ngFor="let url of project.getDefaultEnvironment().urls" [value]="url.name">
        {{url.name}}
      </option>
    </select>
  </div>

  <div class="form-group w-75 ml-3">
    <label class="control-label">URL</label>
    <input [(ngModel)]="action.url" class="form-control" placeholder="The URL to make a request to" type="text">
  </div>
</div>

<div class="form-group">
  <label>Method</label>
  <select [(ngModel)]="action.method"
          class="form-control">
    <option [value]="null" disabled>Select a Method</option>
    <option *ngFor="let m of ['DELETE', 'GET', 'POST', 'PUT']" [value]="m">{{m}}</option>
  </select>
</div>

<div class="form-group">
  <label>Body</label>
  <div
    ace-editor
    [(text)]="action.data"
    [theme]="'eclipse'"
    [mode]="'text'"
    style="min-height: 200px; width:100%; overflow: auto;"
  >
  </div>
</div>

<div class="form-group">
  <label>Timeout [ms] <em class="text-muted">(0 - The request does not timeout)</em></label>
  <input [(ngModel)]="action.timeout" class="form-control" min="0" placeholder="Timeout im ms" type="number">
</div>

<ngb-tabset>
  <ngb-tab title="HTTP Headers">
    <ng-template ngbTabContent>
      <br>

        <form [formGroup]="headerForm" (submit)="addHeader(); $event.preventDefault()" class="d-flex flex-row">
          <div class="form-group flex-grow-1">
            <input
              [formControl]="headerForm.controls.name"
              [class.is-invalid]="formUtils.isInvalidFormControl(headerForm.controls.name)"
              class="form-control"
              placeholder="Header Name"
              type="text"
            >
            <div class="invalid-feedback">
              Add a header name.
            </div>
          </div>
          <div class="form-group flex-grow-1 mx-2">
            <input
              [formControl]="headerForm.controls.value"
              class="form-control"
              placeholder="Header Value"
              type="text"
            >
          </div>
          <div>
            <button class="btn btn-default" [disabled]="headerForm.invalid">
              <i class="fas fa-fw fa-plus"></i>
            </button>
          </div>
        </form>

        <table class="table" *ngIf="action.hasHeaders()">
          <thead>
            <tr>
              <th>Header</th>
              <th>Value</th>
              <th width="1">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let i of action.headers | keyvalue">
            <td><strong>{{i.key}}</strong></td>
            <td>{{action.headers[i.key]}}</td>
            <td>
              <i (click)="action.removeHeader(i.key)" class="fas fa-trash fa-fw cursor-pointer"></i>
            </td>
          </tr>
          </tbody>
        </table>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Authentication">
    <ng-template ngbTabContent>
      <br>

      <div class="form-group">
        <label class="control-label">Name</label>
        <input [(ngModel)]="action.credentials.name" class="form-control" placeholder="Name" type="text">
      </div>
      <div class="form-group">
        <label class="control-label">Password</label>
        <input [(ngModel)]="action.credentials.password" class="form-control" placeholder="Password" type="text">
      </div>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Cookies">
    <ng-template ngbTabContent>

      <br>

      <form [formGroup]="cookieForm" (submit)="addCookie(); $event.preventDefault()" class="d-flex flex-row">
        <div class="form-group flex-grow-1">
          <input
            [formControl]="cookieForm.controls.name"
            [class.is-invalid]="formUtils.isInvalidFormControl(cookieForm.controls.name)"
            class="form-control"
            placeholder="Cookie Name"
            type="text"
          >
          <div class="invalid-feedback">
            Add a cookie name.
          </div>
        </div>
        <div class="form-group flex-grow-1 mx-2">
          <input
            [formControl]="cookieForm.controls.value"
            class="form-control"
            placeholder="Cookie Value"
            type="text"
          >
        </div>
        <div>
          <button class="btn btn-default" [disabled]="cookieForm.invalid">
            <i class="fas fa-fw fa-plus"></i>
          </button>
        </div>
      </form>

      <table class="table" *ngIf="action.hasCookies()">
        <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th width="1">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of action.cookies | keyvalue">
          <td><strong>{{i.key}}</strong></td>
          <td>{{action.cookies[i.key]}}</td>
          <td>
            <i (click)="action.removeCookie(i.key)" class="fas fa-trash fa-fw cursor-pointer"></i>
          </td>
        </tr>
        </tbody>
      </table>

    </ng-template>
  </ngb-tab>
</ngb-tabset>
